* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

body {
    background-color: rgb(168, 217, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0, 0, 0);
}

.container .left_side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.box2 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 660px;
    height: 1100px;
    padding: 5px;
    margin: 0px 100px 0px 1100px;
	line-height: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.201);
}

.profileText .imgBx img {
    border-radius: 50px;
}

.profileText h2 {
    color: white;
    font-size: 1.2em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 0.7em;
    font-weight: 300;
}

.ContactInfo {
    padding-top: 40px;

}

.title {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
}

.ContactInfo ul {
    position: relative;
}

.ContactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
a.ex:hover, a.ex:active {color: white;}

.ContactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 14px;
    color: rgb(43, 64, 226);
}

.ContactInfo.EDUCATION li {
    margin-bottom: 15px;
}

.ContactInfo.EDUCATION h5 {
    font-size: large;
    color: aqua;
    font-weight: 500;
}

.ContactInfo.EDUCATION h4 {
    font-size: small;
    color: white;
}

.ContactInfo.EDUCATION h6 {
    font-size: x-small;
    color: white;
}

.ContactInfo.LANGUAGES {
    margin-left: -149px;
}

.ContactInfo.LANGUAGES .percent {
    position: relative;
    width: 180%;
    height: 6px;
    background-color: #081921;
    display: block;
    margin-top: 5px;
}

.ContactInfo.LANGUAGES .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: blue;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.box2 ul li {
    margin-left: 30px;
}